@import "../../styles/variables";

.imageWrapper {
  position: relative;
  margin: 0 auto 10px auto;
  border: 3px solid $primary_green;
  line-height: 0;
  width: 400px;
  height: 400px;
  transition: all ease 0.3s;
  cursor: pointer;
  background-color: $background_green;
  &:hover {
    background-color: $secondary_green;
    .image {
      transform: translate(25px, -25px);
    }
  }

  .image {
    position: absolute;
    display: block;
    border: 3px solid black;
    width: 400px;
    height: 400px;
    transition: all ease 0.3s;
    transform: translate(15px, -15px);
  }
}

.balance {
  margin-top: 20px;
  text-align: center;
}
