@import "../../styles/variables";

.separator {
  & hr {
    width: 100%;
    height: 1px;
    background-color: $primary-green;
    border: 0;
  }
}

.claimContainer {
  background-color: transparentize($color: $primary-green, $amount: 0.7);
  padding: 1em;

  & .strong {
    font-weight: 700;
  }

  & .huge {
    font-size: 1.5rem;
  }
}
